@import '~bootstrap/scss/bootstrap';

@import 'partials/variables.scss';

.bg_dc {
    background-color: $blue_DC;
    color: #fff;
}

.color_dc {
    color: $blue_DC;
}

.container {
    --bs-gutter-x: 0;
}

header {

    .bg_dc {
        font-size: .8rem;
    }

    $nav_heigth: 115px;

    nav {
        height: $nav_heigth;

        img {
            height: 80px;
        }

        ul {
            list-style: none;
            height: 100%;
            margin: 0;

            li {
                height: 100%;
                line-height: $nav_heigth;

                .color_dc {
                    font-size: .7rem;
                }

                &.my_active {
                    color: $blue_DC;
                    border-bottom: 5px solid $blue_DC;
                }
            }
        }

        form {
            width: 135px;
            border-bottom: 2px solid $blue_DC;

            input {
                width: calc(100% - 21px);
            }

            label {
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
            }
        }
    }

    #jumbo {
        height: 400px;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
}

main {
    &#main_first {
        background-color: #1c1c1c;
    }

    .container {
        position: relative;

        &:first-child {
            padding-bottom: 20px;
        }

        #current {
            position: absolute;
            transform: translate(0%, -50%);
            width: 250px;
        }

        #card-container {
            column-gap: 25px;
            row-gap: 45px;
            padding: 50px 0;

            .card {
                width: calc(100% / 6 - 24px);
                background: transparent;

                img {
                    aspect-ratio: 1;
                    object-fit: cover;
                    object-position: top;
                }

                .card-title {
                    font-size: .9rem;

                    a {
                        color: inherit;
                        text-decoration: none;
                    }
                }
            }
        }

        #more {
            $more_height: 35px;
            width: 180px;
            height: $more_height;
            margin: 0 auto;
            line-height: $more_height;
        }
    }

    #shop_bar {
        padding: 50px 0;

        ul {
            list-style: none;

            li {
                $li_height: 55px;
                height: $li_height;
                line-height: $li_height;
                font-size: .9rem;
                white-space: nowrap;
                min-width: 165px;

                img {
                    max-height: 100%;
                    max-width: 55px;
                }
            }
        }
    }

    #blue_bar {
        width: 100%;
        height: 75px;
    }

    $tile_main_2_color: #074782;
    $thumb_blue: #00a9d9;

    .my_container {
        width: 1020px;
        margin: 0 auto;
        position: relative;

        &#comic_info {
            padding-top: 75px;
            padding-bottom: 65px;
        }

        #thumb {
            position: absolute;
            top: -320px;
            border: 1px solid #fff;

            #label {
                position: absolute;
                top: 0;
                left: 0;
                font-size: .7rem;
                background-color: $thumb_blue;
            }

            #expand {
                position: absolute;
                bottom: 0;
                width: 100%;
                font-size: .8rem;
                background-color: $thumb_blue;
            }
        }

        #left_my_container {
            width: 65%;

            h3 {
                color: $tile_main_2_color;
            }

            #green_bar {
                background-color: #55ba59;
                color: #fff;
                border-bottom: 1px solid #418345;

                &>* {
                    padding: 15px 25px;
                }

                #left_bar {
                    width: 70%;
                    border-right: 1px solid #418345;
                    position: relative;

                    #status {
                        position: absolute;
                        right: 25px;
                    }
                }

                #right_bar {
                    width: calc(30% - 1px);

                    #arrow {
                        font-size: .5rem;
                    }
                }

                .opacity {
                    opacity: .6;
                }
            }
        }

        #right_my_container {
            position: relative;

            span {
                position: absolute;
                right: 0;
                top: -25px;
            }
        }
    }

    #comic_specs {
        background-color: #f6f6f6;
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
        padding: 30px 0 100px;

        & .my_container>* {
            width: 48%;
        }

        table {
            tr {
                th {
                    font-size: 1.5rem;
                }

                td {
                    font-size: .8rem;
                    color: $thumb_blue;
                }

                >*:first-child {
                    width: 30%;
                    color: $tile_main_2_color;
                }
            }
        }
    }

    #main_2_shopbar {
        background-color: #f6f6f6;

        .shop_card {
            width: 250px;
            height: 70px;
            padding: 15px 20px;
            border-left: 1px solid #ebebeb;
            border-right: 1px solid #ebebeb;

            span {
                opacity: .5;
                font-size: .8rem;
            }

            img {
                max-height: 40px;
            }
        }
    }
}

footer {
    background-color: #303030;

    #footer_menu {
        background-image: url('/resources/img/footer-bg.jpg');
        background-size: cover;
        height: 400px;
        width: 100%;
        overflow-y: hidden;

        .container {
            height: 100%;

            #container-left-flex {
                width: 40%;

                #list-container {
                    width: 85%;
                    height: 85%;
                    padding-top: 35px;

                    ul {
                        padding: 0;
                        list-style: none;

                        li {
                            opacity: .5;
                            font-size: .85rem;
                        }
                    }
                }

                #copyright {
                    font-size: .8rem;

                    span {
                        opacity: .5;
                    }

                    a {
                        text-decoration: none;
                        opacity: 1;
                    }
                }
            }
        }

        img {
            width: 560px;
            height: 560px;
            position: relative;
            bottom: 80px;
        }
    }

    #cta {
        height: 100px;

        #sign_cta {
            border: 2px solid $blue_DC;
        }

        #socials {
            span {
                margin-right: 8px;
            }

            img {
                margin-left: 16px;
            }
        }
    }
}