@import '~bootstrap/scss/bootstrap';

@import 'partials/variables.scss';

.bg_dc {
    background-color: $blue_DC;
    color: #fff;
}

.color_dc {
    color: $blue_DC;
}

.container {
    --bs-gutter-x: 0;
}

header {

    .bg_dc {
        font-size: .8rem;
    }

    $nav_heigth: 115px;

    nav {
        height: $nav_heigth;

        img {
            height: 80px;
        }

        ul {
            list-style: none;
            height: 100%;
            margin: 0;

            li {
                height: 100%;
                line-height: $nav_heigth;

                .color_dc {
                    font-size: .7rem;
                }

                &.my_active {
                    color: $blue_DC;
                    border-bottom: 5px solid $blue_DC;
                }
            }
        }

        form {
            width: 135px;
            border-bottom: 2px solid $blue_DC;

            input {
                width: calc(100% - 21px);
            }

            label {
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
            }
        }
    }

    #jumbo {
        height: 400px;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
}

main {
    &#main_first {
        background-color: #1c1c1c;
    }

    .container {
        position: relative;

        &:first-child {
            padding-bottom: 20px;
        }

        #current {
            position: absolute;
            transform: translate(0%, -50%);
            width: 250px;
        }

        #card-container {
            column-gap: 25px;
            row-gap: 45px;
            padding: 50px 0;

            .card {
                width: calc(100% / 6 - 24px);
                background: transparent;

                img {
                    aspect-ratio: 1;
                    object-fit: cover;
                    object-position: top;
                }

                .card-title {
                    font-size: .9rem;
                }
            }
        }

        #more {
            $more_height: 35px;
            width: 180px;
            height: $more_height;
            margin: 0 auto;
            line-height: $more_height;
        }
    }

    #shop_bar {
        padding: 50px 0;

        ul {
            list-style: none;

            li {
                $li_height: 55px;
                height: $li_height;
                line-height: $li_height;
                font-size: .9rem;
                white-space: nowrap;
                min-width: 165px;

                img {
                    max-height: 100%;
                    max-width: 55px;
                }
            }
        }
    }
}